<!DOCTYPE html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <title>MTG Card Search</title>
</head>

<body>
  <div id="wrapper">
    <div id="options-wrapper">
      <div id="color-pick" class="option">
        <img class="color-icon" data-color="W" src="{{ url_for('static', filename='/icons/W.svg') }}"></img>
        <img class="color-icon" data-color="U" src="{{ url_for('static', filename='/icons/U.svg') }}"></img>
        <img class="color-icon" data-color="B" src="{{ url_for('static', filename='/icons/B.svg') }}"></img>
        <img class="color-icon" data-color="R" src="{{ url_for('static', filename='/icons/R.svg') }}"></img>
        <img class="color-icon" data-color="G" src="{{ url_for('static', filename='/icons/G.svg') }}"></img>
      </div>
      <div id="type-pick" class="option">
        <div class="button card-type noselect">LAND</div>
        <div class="button card-type noselect">CREATURE</div>
        <div class="button card-type noselect">ARTIFACT</div>
        <div class="button card-type noselect">ENCHANTMENT</div>
        <div class="button card-type noselect">INSTANT</div>
        <div class="button card-type noselect">SORCERY</div>
        <div class="button card-type noselect">PLANESWALKER</div>
      </div>
      <div id="mana-cost" class="option">
        <div>
          CMC less than or equal to:
          <select id="max-cost" name="max-cost">
            <option value="-1" selected="selected">n/a</option>
            {% for i in range(7): %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
        </div>
        <div id="cost-buttons-wrapper">
          {% for i in range(7): %}
            <div class="cost-button noselect">{{ i }}</div>
          {% endfor %}
            <div class="cost-button noselect">7+</div>
        </div>
      </div>
      <div id="rarity-wrapper">
        <div id="common" class="button rarity noselect">COMMON</div>
        <div id="uncommon" class="button rarity noselect">UNCOMMON</div>
        <div id="rare" class="button rarity noselect">RARE</div>
        <div id="mythic" class="button rarity noselect">MYTHIC</div>
      </div>
      <div id="search-wrapper">
        <div>
          Keyword search:
        </div>
        <input type="text" id="search">
      </div>
      <div id="set-wrapper">
        <div>
          Set:
        </div>
        <form action="" method="GET">
          <select id="set-select" name="set-select">
            {% for set_name in set_list: %}
              {% if set_name == default_set: %}
                <option value="{{ set_name }}" selected="selected">{{ set_name }}</option>
              {% else: %}
                <option value="{{ set_name }}">{{ set_name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </form>
        <div id="reset-button" class="button">RESET FILTERS</div>
      </div>
    </div>
    <div id="card-display">
      {% for id,card_dic in cards.items() %}
        <img class="card-img noselect" data-id="{{ id }}" src="{{ card_dic['image_url'] }}">
      {% endfor %}
    </div>
  </div>
  <div id="big-card-wrapper">
    <img class="big-card"></img>
  </div>
  <script>
    console.log('{{ cards }}');
    const cards_json = JSON.parse('{{ cards | tojson | safe }}');
  </script>
  <script src="{{ url_for('static', filename='/scripts/js_scripts/main.js') }}"></script>
</body>